// Original Colors

// $color-primary: #c3584f;  //
// $color-secondary: #fbf7f0;
// $color-tertiary: #ddaf90;
// $color-tertiary-opaque: rgba(221, 175, 144, 0.35);

// Secondary colors

// Colors
$color-primary: #034661; // #379682 #687864
$color-secondary: #dce7f4; // #edf5e1
$color-tertiary: #427aa1; // #05386B
$color-tertiary-opaque: rgba(67, 123, 163, 0.509);

// // Adittional colors
// $color-quaternary: #8e694b;
// $color-quinary: #679436;
// $color-sextary: #a5be00;

// Text colors
$text-color-primary: #dce7f4;

// Sizes

$font-size-default: 1.2rem;
$font-size-large: 2.5rem;
$sidebar-font-size: 1.3rem;
$sidebar-icon-size: 1.4rem;
$page-title-font-size: 2rem;
$page-time-font-size: 1.8rem;
$wordset-card-font-size: 1.5rem;

// Borders

$border-radius-primary: 25px;
// Fonts

$main-font-family: 'Roboto', sans-serif;
