// Colors

$color-primary: rgb(229, 139, 22);
$color-secondary: #fbf7f0;
$color-tertiary: #8e694b;
$color-quaternary: #ddaf90;
$color-quinary: #c3584f;

$text-color-primary: white;

// Sizes

$font-size-default: 1.2rem;
$font-size-large: 2.5rem;
$sidebar-font-size: 1.3rem;
$sidebar-icon-size: 1.4rem;

// Fonts

$main-font-family: 'Roboto', sans-serif;
