.sidebar {
  background: $color-tertiary;
  height: 100%;
  min-width: 250px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;

  .sidebar_top {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;

    .sidebar_logo {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      img {
        width: auto;
        height: 100px;
      }
    }
  }

  .sidebar_bottom {
    padding: 20px 0 0 25px;
    ul li {
      position: relative;

      a {
        display: block;
        padding: 20px 20px;
        font: 500 $sidebar-font-size $main-font-family;
        color: $color-secondary;
        margin-bottom: 20px;
        text-decoration: none;
        letter-spacing: 1.2px;
        transition: color 0.3s ease;

        &:hover {
          color: $color-primary;
        }

        .icon {
          margin-right: 10px;
          font-size: $sidebar-icon-size;
          // Add icon styles
        }
      }

      &.active {
        a {
          background: $color-secondary;
          color: $color-primary;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
        }

        .top_curve,
        .bottom_curve {
          position: absolute;
          left: 0;
          width: 100%;
          height: 20px;
          background: $color-secondary;
        }

        .top_curve {
          top: -20px;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-tertiary;
            border-bottom-right-radius: 25px;
          }
        }

        .bottom_curve {
          bottom: -20px;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-tertiary;
            border-top-right-radius: 25px;
          }
        }
      }
    }
  }
}
