.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 250px;
  // make my #ddaf90  opaque
  background-color: rgba(221, 175, 144, 0.15);
  margin-right: 10px;
  border-radius: 20px;
  border: rgba(221, 175, 144, 0.15);
  text-align: center;
  padding: 20px;
}
