.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 300px;
  // make my #ddaf90  opaque
  background-color: $color-tertiary-opaque;
  margin-right: 10px;
  border-radius: 25px;
  text-align: center;
  padding: 20px;
}
