.side_bar {
  .side_bar_bottom {
    background: $color-primary;
    height: 100vh;
    width: 250px;
    padding: 80px 0;
    padding-left: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    ul li {
      position: relative;

      a {
        display: block;
        padding: 20px 20px;
        font-size: 1.5rem;
        color: $text-color;
        margin-bottom: 35px;
  
        text-decoration: none;
        letter-spacing: 1.2px;
        font-family: $main-font-family;
        font-weight: 500;

        .icon {
          margin-right: 8px;
          // Add icon styles
        }
      }

      &.active {
        a {
          background: white;
          color: $color-primary;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
        }

        .top_curve,
        .bottom_curve {
          position: absolute;
          left: 0;
          width: 100%;
          height: 20px;
          background: white;
        }

        .top_curve {
          top: -20px;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-primary;
            border-bottom-right-radius: 25px;
          }
        }

        .bottom_curve {
          bottom: -20px;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-primary;
            border-top-right-radius: 25px;
          }
        }
      }
    }
  }
}
