.word-sets-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 70%;
  flex-wrap: wrap;

  .word-set-card {
    display: flex;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
}
