.theme-toggle-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 20px;
  height: 100%;
}

.theme-toggle-label {
  position: relative;
  width: 70px;
  height: 35px;
  display: block;
  background: white; //#dce7f4;
  border-radius: 25px;
  box-shadow:
    inset 0px 2px 5px rgba(0, 0, 0, 0.3),
    inset 0px -2px 5px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 7px;
    width: 25px;
    height: 25px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
  }

  .sun,
  .moon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    z-index: 1;
  }

  .sun {
    left: 10px;
    color: #875811;
    transition: color 0.3s ease;
  }

  .moon {
    right: 10px;
    color: var(--color-text-main);
    transition: color 0.3s ease;
  }
}

.theme-toggle-checkbox:checked + .theme-toggle-label {
  background: #242424;

  &:after {
    left: calc(100% - 30px);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }

  .sun {
    color: #d8860b;
  }

  .moon {
    color: #dbd9d9;
  }
}
