@import '../../styles/variables.scss';

.exercise-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90%;

  .exercise-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @media (max-width: 1460px) {
      gap: 20px;
    }

    .exercise-option {
      padding: 15px 25px;
      background-color: var(--color-exercise-selector);
      border: none;
      border-radius: $border-radius-exercise-selector;
      cursor: pointer;
      font: 500 $font-size-exercise-title $main-font-family;
      color: var(--color-text-main);
      transition:
        background-color 0.3s,
        transform 0.3s;

      @media (max-width: 1460px) {
        font-size: 1.6rem;
      }
      &:hover {
        background-color: var(--color-exercise-selector-active);
        transform: translateY(-2px);
      }

      &.active {
        background-color: var(--color-exercise-selector-active);
        color: var(--color-text-main);
      }

      i {
        margin-right: 10px;
        color: var(--color-text-main);
      }
    }
  }
  .game-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
  }
}
