@import '../../styles/variables.scss';

.exercise-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .exercise-option {
    padding: 15px 25px;
    background-color: $color-secondary;
    border: none;
    border-radius: $border-radius-exercise-selector;
    cursor: pointer;
    font: 500 $exercise-title-font-size $main-font-family;
    transition:
      background-color 0.3s,
      transform 0.3s;

    &:hover {
      background-color: $color-tertiary-opaque;
      transform: translateY(-2px);
    }

    &.active {
      background-color: $color-tertiary-opaque;
      color: $text-color-exercise-selector-active;
    }

    i {
      margin-right: 10px;
      color: $color-primary;
    }
  }
}
