@import '/src/styles/variables.scss';

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: $color-secondary;

  .dashboard_top {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin-top: 20px;

    h2 {
      font: 600 $page-title-font-size $main-font-family;
      color: $color-primary;
      text-transform: uppercase;
    }

    p {
      font: 500 $page-time-font-size $main-font-family;
      color: $color-tertiary;
    }
  }

  .dashboard_middle {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 19%;
    background-color: $color-tertiary-opaque;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: $border-radius-primary;
    z-index: 1;
    position: relative;
    margin-top: 40px;

    img {
      align-self: flex-end;
      max-height: 300px;
      z-index: 2;
      position: absolute;
      bottom: -60px;
      left: 40px;
    }
    .dashboard_middle_text {
      margin-left: 140px;
      margin-top: 15px;

      h1 {
        font: 600 $font-size-dashboard-h1 $main-font-family;
        color: $color-primary;
        margin-bottom: 20px;
      }

      h3 {
        font: 500 $font-size-dashboard-h3 $main-font-family;
        color: $color-primary;
        margin-bottom: 25px;

        &:last-of-type {
          margin-bottom: 20px;
        }
      }
    }
  }

  .dashboard_bottom {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 940px;
    justify-content: center;
    margin-bottom: 60px;

    @media (min-width: 2180px) {
      width: 1620px;
    }

    h3 {
      font: 600 $dashboard-slider-font-size $main-font-family;
      color: $color-primary;
      margin-bottom: 20px;
    }

    .slick-slider {
      width: 100%;
      padding-bottom: 20px;

      .slick-track,
      .slick-list {
        display: flex;
        align-items: center;
      }

      .slick-list {
        height: 220px;
      }

      .slick-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 10px; // miejsce między slajdami
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: $border-radius-primary;
        background-color: $color-tertiary-opaque;
        height: 200px;
        overflow: hidden;
        font-size: $dashboard-slider-card-font-size;
        transition: 0.2s ease;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
          transform: scale(1.05);
        }
      }

      .slick-dots {
        bottom: -25px;
      }

      .slick-prev,
      .slick-next {
        &:before {
          font-size: 40px;
          color: $color-primary;
        }
      }

      .slick-prev {
        left: -60px;
      }

      .slick-next {
        right: -40px;
      }
    }
  }
}

.wordset-category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 215px;
}
