@import '/src/styles/variables.scss';

.howTo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;

  .howTo_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 140px;
    background-color: var(--color-cards);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: $border-radius-primary;
    z-index: 1;
    margin-top: 60px;

    .howTo_header_text {
      position: relative;
      h2 {
        font: 600 $font-size-how-to-header $main-font-family;
        color: var(--color-text-main);
      }
    }
    img {
      height: 350px;
      z-index: 2;
      position: absolute;
      top: -20px;
      right: 220px;
    }
  }

  .howTo_section {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: auto;

    @media (min-width: 2210px) {
      width: 80%;
    }

    .howTo_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 20px;
      margin-bottom: 100px;
      flex-wrap: wrap;

      .howTo_item {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        width: 270px;
        margin-bottom: 80px;

        img {
          align-self: center;
          height: 100px;
          width: auto;
        }

        p {
          height: 260px;
          width: 100%;
          font: 500 $font-size-how-to-text $main-font-family;
          color: var(--color-text-main);
        }
      }
      .arrow {
        flex: 0 0 30px;
        height: 5px;
        border-radius: 5px;
        background-color: var(--color-text-main);
        position: relative;
        margin: 0 20px;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: -2px;
          right: -10px;
          transform: rotate(270deg);
          border-radius: 5px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid var(--color-text-main);
        }
      }
    }
  }

  @media (max-width: 1580px) {
    .howTo_header {
      .howTo_header_text {
        h2 {
          font-size: 2.5rem;
        }
      }
      img {
        height: 300px;
        top: 10px;
        // right: 250px;
      }
    }
  }
  // Media queries
  @media (min-width: 2210px) {
    .howTo {
      width: 100%;

      .howTo_header {
        width: 90%;

        img {
          height: 430px;
          right: -200px;
          top: -120px;
        }
      }

      .howTo_section {
        width: 80%;

        .howTo_container {
          width: 90%;

          .howTo_item {
            width: 350px;

            img {
              height: 120px;
            }
          }
        }
      }
    }
  }
}

.howTo_section::-webkit-scrollbar {
  width: 10px;
}
.howTo_section::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
  border-radius: 15px;
}
.howTo_section::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: 10px;
}

/* For Firefox */
.howTo_section {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
}
